@font-face {
font-family: "Gill Sans";
src: url('resources/GillSansProCyrillic-Medium.eot');
src: local('Gill Sans Pro Cyrillic Medium'), local('GillSansProCyrillic-Medium'),
    url('resources/GillSansProCyrillic-Medium.eot?#iefix') format('embedded-opentype'),
    url('resources/GillSansProCyrillic-Medium.woff2') format('woff2'),
    url('resources/GillSansProCyrillic-Medium.woff') format('woff'),
    url('resources/GillSansProCyrillic-Medium.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
font-family: "Gill Sans";
src: url('resources/GillSansProCyrillic-Bold.eot');
src: local('Gill Sans Pro Cyrillic Bold'), local('GillSansProCyrillic-Bold'),
    url('resources/GillSansProCyrillic-Bold.eot?#iefix') format('embedded-opentype'),
    url('resources/GillSansProCyrillic-Bold.woff2') format('woff2'),
    url('resources/GillSansProCyrillic-Bold.woff') format('woff'),
    url('resources/GillSansProCyrillic-Bold.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}
@font-face {
font-family: "Gill Sans";
src: url('resources/GillSansProCyrillic-MediumItali.eot');
src: local('Gill Sans Pro Cyrillic Medium Italic'), local('GillSansProCyrillic-MediumItali'),
    url('resources/GillSansProCyrillic-MediumItali.eot?#iefix') format('embedded-opentype'),
    url('resources/GillSansProCyrillic-MediumItali.woff2') format('woff2'),
    url('resources/GillSansProCyrillic-MediumItali.woff') format('woff'),
    url('resources/GillSansProCyrillic-MediumItali.ttf') format('truetype');
 font-weight: normal;
 font-style: italic;
}
:root {
	--info-heading-fs: 0.8rem;
	--lil-text-lh: 1.2;
	--orange: #FF7E00;
	--black: #202020;
	--lblack: #b5b5b5;
}
html {
	overflow: hidden;
}
body {
	position: fixed;
	height: 100%; /* prevent overscroll bounce */
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
header {
	position: relative;
	z-index: 3;
}
.logo-ext svg {
	width: 100px;
}

/*****************************NEWS****************************/
.news {
	margin-top: -64px;
	font-family: "Gill Sans", sans-serif;
}
.news .category {
	font-size: var(--info-heading-fs);
	font-weight: bold;
	text-transform: uppercase;
}
.news .date {
	font-style: italic;
}
.newsInfo {
	font-size: var(--info-heading-fs);
	margin-bottom: 0.3rem;
}
.heading--block {
	font-size: var(--info-heading-fs);
	font-weight: bold;
	padding: 0.5rem 0;
	text-transform: uppercase;
}
/**************************TOP STORY**************************/
.topstory {
	background: var(--black);
}
.topstory .carcas {
	border-bottom: solid var(--orange) 3px;
}
.image--topstory {
	height: 230px;
	width: 100%;
}
.image--topstory img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.text--topstory {
	padding: 1rem 15px;	
}
.topstory .newsInfo {
	color: var(--lblack);
}
.topstory .category {
	color: var(--orange);
}
.heading--topstory {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: var(--lil-text-lh);
	margin-bottom: 0.3rem;
	color: white;
}
.sub--topstory {
	line-height: var(--lil-text-lh);
	color: var(--lblack);
}
/***************************STORY***************************/
.story {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 -15px;
	background: #f9f9f9;
}
.img--story {
	height: 134px;
	width: 134px;
	flex-shrink: 0;
}
.img--story img {
	height: 100%;	
	width: 100%;
	object-fit: cover;
}
.text--story {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem 15px;
}
.heading--story {
	font-size: 1rem;
	font-weight: bold;
	line-height: var(--lil-text-lh);
	color: var(--black);
}
/**************************ARTICLE**************************/
.head--article {
	font-family: "Gill Sans", sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-top: -64px; /* исправить срочно этот момент!!!! */
	padding-top: 64px;
	background: var(--black);
}
.category--article {
	color: var(--lblack);
}
.title--article h1 {
	font-weight: normal;
	font-style: normal;
	font-size: 2rem;
	margin: 2rem 0 1rem;
	color: white;
}
.sub--article {
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	margin-bottom: 2rem;
	color: var(--lblack);
}
.image--article {
	display: block;
	position: relative;
	background: var(--black);
}
.image--article img {
	display: block;
	position: relative;
	width: 100%;
	z-index: 2; /*объекты ложить выше 2*/
}
.image-half-bg--article {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100vw;
	background: white;
	z-index: 1;
}
.content--article {
	padding: 1rem 0;
}

footer {
	font-family: "Gill Sans", sans-serif;
	font-size: 2rem;
	background: var(--black);
	padding: 8rem 0 1rem;
	color: white;
}
footer span {
	color: #888888;
}

.button--menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 4rem;
	right: 14px;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: solid 3px white;
	background: rgba(255, 126, 0, 0.4);
	cursor: pointer;
	z-index: 9999;
}
.button--menu.lefty {
	right: auto;
	left: 14px;
}
.button--menu[data-menuState="opened"] {
	background: var(--orange);
}
.button--menu svg {
	opacity: 0;
	width: 20px;
	fill: white;
	stroke: white;
	stroke-width: 30px;
	transition: 0.5s;
}
.button--menu[data-menuState="opened"] svg {
	opacity: 1;
}
body.fixpos {
	overflow: hidden;
}
.drawer--menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	height: 100%;
	width: 100vw;
	z-index: 3;
	top: 0;
	left: -100vw;
	background: black;
	overflow: hidden;
	transition: 0.5s;
	color: white;
	font-family: "Gill Sans", sans-serif;
}
.drawer--menu.open {
	left: 0;
}
.bottom--menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.categories--menu {
	position: relative;
	text-align: right;
	margin-bottom: 4rem;
	font-size: 1.2rem;
}
.categories--menu.lefty {
	text-align: left;
}
.categories--menu ul {
	position: relative;
	list-style: none;
	overflow: scroll;
	margin: 0;
	padding: 0;
	margin-right: -15px;
	padding-right: 15px;
}
.categories--menu ul.lefty {
	margin: 0;
	padding: 0;
}
fade {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 1)
    100%);
    pointer-events: none;
}
.lag-- {
	text-align: left;
}
.rag-- {
	text-align: right;
}
.footer--menu {
	padding: 1rem 0;
}
.footer--menu a {
	color: var(--orange);
	text-decoration: underline;
}